@mixin sitefont {
    font-size: $fsize;
    font-family: $ffamily;
    color: $black;
    line-height: $fsize + 10;
    font-weight: $fregular;
    text-rendering: geometricPrecision;
    -moz-text-rendering: geometricPrecision;
    -webkit-text-rendering: geometricPrecision;
    -ms-text-rendering: geometricPrecision;
    -o-text-rendering: geometricPrecision;
}

@mixin shadow-bottom {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .40);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .40);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .40);
    -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .40);
    -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .40);
}

@mixin shadow-center {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .40);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .40);
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .40);
    -ms-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .40);
    -o-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .40);
}

@mixin border-radius {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

//mobile mixin
@mixin mob {
    @media(min-width:#{$mobile-width}) and (max-width:#{$mobilelscape-width - 1}) {
        @content;
    }
}

//mixin mobile landscape
@mixin moblscape {
    @media (min-width:#{$mobilelscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//mixin tablet
@mixin tab {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//mixin laptop
@mixin lap {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1}) {
        @content;
    }
}