//colors
$white:#fff;
$black:#000;
$lightgray:#F7F7F7;
$blue:#0094D2;
$darkblue:#0072A2;
$gray:#727272;
$tdaquablue:#4ce5c6;
$green:#93cd54;

//fonts
$flight:300;
$fregular:400;
$fsbold:600;
$fbold:700;
$fsize:15px;
$ffamily:'Open Sans',
sans-serif;


//variables for responsive breakpoints
$mobile-width:320px; //default mobile
$mobilelscape-width:576px; //mobile land scape small
$tablet-width:768px; // medium for tablet
$laptop-width:992px; //large device for laptop
$desktop-width:1200px; //extra large device for desktop