@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
body {
  background-color: #F7F7F7;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #000;
  line-height: 25px;
  font-weight: 400;
  text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -webkit-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
}

body .flight, body .home-slider article h2, .home-slider article body h2 {
  font-weight: 300;
}

body .fsbold, body header .nav-link, header body .nav-link, body footer .top-footer .nav-link, footer .top-footer body .nav-link {
  font-weight: 600;
}

body .fnormal {
  font-weight: 400;
}

body .fbold, body .home-slider article h2 span, .home-slider article h2 body span, body .section-title .small, .section-title body .small, body .section-title .h2, .section-title body .h2, body .section-title .h3, .section-title body .h3, body .service-main .service-col h4, .service-main .service-col body h4, body .our-products .products-row .product-col article h5, .our-products .products-row .product-col article body h5, body .sub-page .subpage-header h1, .sub-page .subpage-header body h1, body .sub-page .subpage-body .section-title, .sub-page .subpage-body body .section-title, body .product-list-item article .h3, .product-list-item article body .h3 {
  font-weight: 700;
}

body .whitebox, body .welcome-section, body .partners, body .sub-page .subpage-body .shadow-box, .sub-page .subpage-body body .shadow-box, body .sub-page .subpage-body .round-box, .sub-page .subpage-body body .round-box, body .sub-page .subpage-body .blue-round-box, .sub-page .subpage-body body .blue-round-box, body .team-row, body .address {
  background: #fff;
}

body .py20, body .our-products .products-row, .our-products body .products-row, body .partners, body .partners .section-title, .partners body .section-title, body footer .top-footer, footer body .top-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

body .px20, body .partners .partners-logos, .partners body .partners-logos {
  padding-left: 20px;
  padding-right: 20px;
}

body .py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

body .px10 {
  padding-left: 10px;
  padding-right: 10px;
}

body .idlink {
  background: #0094D2;
  height: 35px;
  padding: 0 20px 0 20px;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  line-height: 36px;
  font-size: 14px;
}

body .idlink .icomoon {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
  left: 0;
  font-size: 12px;
}

body .idlink:hover {
  background: #0072A2;
}

body .idlink:hover .icomoon {
  left: 5px;
}

body * {
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body .blueborder {
  border: 10px solid #0094D2;
}

body .whiteborder, body .welcome-section .img-about-second, .welcome-section body .img-about-second {
  border: 10px solid #fff;
}

body .small,
body small {
  font-size: 13px;
}

body .fgray {
  color: #727272;
}

body .fblue {
  color: #0094D2;
}

body .fwhite {
  color: #fff;
}

body p {
  padding-bottom: 0;
  margin: 0;
}

body li,
body ul {
  list-style: none;
}

body .fred {
  color: red;
}

.h5 {
  line-height: 30px;
}

.h6 {
  line-height: 30px;
}

.tab_wrapper .nav-tabs .nav-link.active {
  border: none;
}

.tab_wrapper .tab-content {
  padding: 15px;
}

.fixed-top .navbar {
  padding: 0;
}

.fixed-top .navbar .dropdown-menu {
  top: 43px;
}

header {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  background: #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .navbar {
  padding: 10px 0;
}

header .navbar .dropdown-menu {
  border-radius: 0;
  top: 53px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

header .navbar .dropdown-menu .dropdown-item {
  padding: 8px 15px;
  font-size: 15px;
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #0094D2;
  color: #fff;
}

header .nav-link {
  color: #000 !important;
  opacity: 1;
  font-size: 15px;
  position: relative;
  padding: 0.5rem 0.8rem !important;
}

header .nav-link:before {
  content: '';
  width: 25px;
  height: 2px;
  background: #0094D2;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .nav-link:before {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .nav-link:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .nav-link:before {
    display: none;
  }
}

header .nav-link:hover {
  color: #0094D2 !important;
}

header .nav-link:hover:before {
  opacity: 1;
  margin-left: -12px;
}

header .select-nav {
  color: #0094D2 !important;
  padding: 0.5rem 0.8rem !important;
  display: inline-block;
  position: relative;
}

header .select-nav:before {
  opacity: 1;
  margin-left: -12px;
  content: '';
  width: 25px;
  height: 2px;
  background: #0094D2;
  position: absolute;
  left: 50%;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .select-nav:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .select-nav:before {
    display: none;
  }
}

header .dropdown-active {
  padding: 8px 15px;
  background: #0094D2;
  color: #fff;
  display: block;
  white-space: nowrap;
}

header .navbar-brand img {
  width: 220px;
}

main {
  min-height: 500px;
}

.home-slider {
  background: url(../img/slidermap.png) no-repeat center center;
  padding: 40px 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider {
    min-height: 560px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider {
    padding: 10px 0;
  }
}

.home-slider:before {
  content: '';
  width: 220px;
  height: 100%;
  position: absolute;
  left: -120px;
  top: 0;
  bottom: 0;
  background: #0094D2;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider:before {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-slider:before {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-slider:before {
    left: -140px;
  }
}

.home-slider .carousel-control-next,
.home-slider .carousel-control-prev {
  width: 40px;
  height: 40px;
  top: 90%;
  background: #fff;
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.home-slider .carousel-control-next:hover,
.home-slider .carousel-control-prev:hover {
  background: #0094D2;
}

.home-slider .carousel-control-next:hover .icomoon,
.home-slider .carousel-control-prev:hover .icomoon {
  color: #fff;
}

.home-slider .carousel-control-next .icomoon,
.home-slider .carousel-control-prev .icomoon {
  color: #000;
}

.home-slider .carousel-control-prev {
  left: 6%;
}

.home-slider .carousel-control-next {
  left: 10%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .carousel-control-next {
    left: inherit;
    right: 9%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider .carousel-control-next {
    left: 14%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-slider .carousel-control-next {
    left: 14%;
  }
}

.home-slider article {
  padding: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-slider article {
    padding: 20px 20px 40px 20px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider article {
    min-height: 250px;
    text-align: center;
    padding: 5px;
  }
}

.home-slider article h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -2px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider article h2 {
    font-size: 22px;
    letter-spacing: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-slider article h2 {
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider article h2 {
    font-size: 22px;
    letter-spacing: 0;
  }
}

.home-slider article h2 span {
  color: #0094D2;
}

.home-slider article .h6 {
  line-height: 25px;
}

.home-slider article p {
  font-size: 17px;
  line-height: 30px;
  padding: 5px 0;
  text-align: justify;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider article p {
    font-size: 14px;
    line-height: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider article p {
    font-size: 14px;
    line-height: 23px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-slider article p {
    font-size: 15px;
    line-height: 23px;
  }
}

.welcome-section {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  padding: 25px 0;
}

.welcome-section p {
  text-align: justify;
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome-section {
    min-height: 200px;
    padding: 15px 0;
  }
}

.welcome-section .img-about-second {
  width: 85%;
  position: relative;
  bottom: -20px;
  left: -200px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome-section .img-about-second {
    display: none;
  }
}

.welcome-section .section-title {
  padding-top: 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome-section .section-title {
    padding-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .welcome-section .section-title {
    padding-top: 20px;
  }
}

.section-title .small {
  color: #0094D2;
}

.section-title .h2 {
  font-size: 28px;
  color: #000;
}

@media (min-width: 320px) and (max-width: 575px) {
  .section-title .h2 {
    font-size: 23px;
  }
}

.section-title .h3 {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}

.service-main {
  background: #0094D2;
  min-height: 150px;
  margin-top: 25px;
}

.service-main .border-right {
  border-right: 1px solid #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .service-main .border-right {
    border: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .service-main .border-right {
    border: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .service-main .border-right {
    border-right: none !important;
  }
}

.service-main .service-col {
  padding: 50px 15px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 575px) {
  .service-main .service-col {
    padding: 15px;
    border-bottom: 1px solid #fff;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .service-main .service-col {
    padding: 15px;
  }
}

.service-main .service-col .icomoon-col {
  font-size: 45px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  color: #fff;
}

.service-main .service-col .icomoon-col:hover {
  color: #0072A2;
}

.service-main .service-col h4 {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
  text-transform: uppercase;
  margin: 0;
}

.service-main .service-col p {
  font-size: 14px;
  padding-bottom: 20px;
  color: #fff;
}

.service-main .service-col .idlink {
  background: #0072A2;
}

.our-products {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

.our-products .section-title {
  border-right: 1px solid #727272;
}

.our-products .products-row .product-col {
  position: relative;
  margin-bottom: 15px;
}

.our-products .products-row .product-col article {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  height: 35px;
}

.our-products .products-row .product-col article h5 {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  margin: 0;
}

@media (min-width: 576px) and (max-width: 767px) {
  .our-products .products-row .product-col article h5 {
    font-size: 12px;
  }
}

.our-products .products-row .product-col article p {
  font-size: 13px;
  color: #fff;
  line-height: 18px;
  padding: 10px 0;
  display: none;
}

.our-products .products-row .product-col:hover article {
  background: rgba(0, 148, 210, 0.9);
  height: 100%;
  padding-top: 20%;
}

.our-products .products-row .product-col:hover article p {
  display: block;
}

.partners {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

.partners .partners-logos {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners .partners-logos img {
  width: 180px;
  margin: 0 10px;
  padding: 6px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .partners .partners-logos img {
    width: 130px;
  }
}

footer {
  background: #0094D2;
}

footer .top-footer {
  border-bottom: 1px solid #fff;
}

footer .top-footer .brand-footer {
  width: 225px;
}

footer .top-footer .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

footer .top-footer .nav-link:hover {
  text-decoration: underline;
}

footer .top-footer .social-links {
  padding: 15px 0;
}

footer .top-footer .social-links a {
  width: 50px;
  height: 50PX;
  background: #0072A2;
  border-radius: 50%;
  display: inline-block;
  line-height: 56px;
  text-align: center;
  margin: 0 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid #0072A2;
}

footer .top-footer .social-links a .icomoon {
  font-size: 25px;
  color: #fff;
}

footer .top-footer .social-links a:hover {
  background: #0094D2;
  border: 1px solid #0072A2;
}

footer .bottom-footer p {
  color: #fff;
}

.sub-page p {
  text-align: justify;
}

.sub-page .subpage-header {
  padding: 25px 0;
  background: #0094D2;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .sub-page .subpage-header {
    padding: 15px 0;
  }
}

.sub-page .subpage-header h1 {
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .sub-page .subpage-header p {
    text-align: left;
  }
}

.sub-page .subpage-header .brcrumb {
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .sub-page .subpage-header .brcrumb {
    padding-left: 0;
    padding-top: 15px;
    margin-left: -18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sub-page .subpage-header .brcrumb {
    padding-left: 0;
    padding-top: 15px;
    margin-left: -18px;
  }
}

.sub-page .subpage-header .brcrumb li {
  display: inline-block;
}

.sub-page .subpage-header .brcrumb li:first-child a:before {
  content: '';
}

.sub-page .subpage-header .brcrumb li a {
  font-size: 15px;
  color: #fff;
}

.sub-page .subpage-header .brcrumb li a:before {
  content: "\f111";
  font-family: 'icomoon' !important;
  font-size: 8px;
  padding: 0 10px;
}

.sub-page .subpage-header .brcrumb .active a {
  color: #001823;
}

.sub-page .subpage-body {
  padding: 25px 0;
}

.sub-page .subpage-body .section-title {
  font-size: 25px;
  color: #000;
  padding-bottom: 10px;
}

.sub-page .subpage-body .shadow-box, .sub-page .subpage-body .round-box, .sub-page .subpage-body .blue-round-box {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  padding: 25px;
}

.sub-page .subpage-body p {
  padding-bottom: 15px;
}

.whatvdo {
  position: relative;
  z-index: 99;
}

.minus-col {
  margin-top: -200px;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .minus-col {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .minus-col {
    margin-top: -100px;
  }
}

.minus-right {
  margin-right: -150px;
  position: relative;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 575px) {
  .minus-right {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .minus-right {
    margin-right: 0;
  }
}

.minus-left {
  margin-left: 150px;
  position: relative;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 575px) {
  .minus-left {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .minus-left {
    margin-left: 0;
  }
}

.round-box {
  border-radius: 50%;
  text-align: center;
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.round-box article {
  padding: 0 5%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .round-box {
    width: auto;
    height: auto;
    border-radius: 0;
  }
}

.blue-round-box {
  background: #0094D2 !important;
  width: 450px;
  height: 450px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.blue-round-box article {
  padding: 0 15%;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .blue-round-box article {
    padding: 0;
  }
}

.blue-round-box article .section-title {
  color: #fff !important;
}

@media (min-width: 320px) and (max-width: 575px) {
  .blue-round-box {
    width: auto;
    height: auto;
    border-radius: 0;
    padding: 5px;
  }
}

.rtcol-circle {
  margin-left: -115px;
  position: relative;
  z-index: 2;
  margin-top: 125px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rtcol-circle {
    margin: 0;
  }
}

.ltcol-circle {
  margin-right: -85px;
  position: relative;
  z-index: 2;
  margin-top: 125px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .ltcol-circle {
    margin: 0;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .navbar-toggler {
    background: #0094D2;
  }
  .navbar-toggler .icomoon {
    color: #fff;
  }
}

.team-row {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  min-height: 150px;
}

.team-row article .h6 {
  font-size: 22px;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .team-row article {
    padding: 10px;
  }
}

.team-row .nav .nav-item:first-child .nav-link {
  padding-left: 0;
}

.team-row .nav .nav-item .nav-link {
  padding: 0 4px;
}

.team-row .nav .nav-item .nav-link img {
  width: 42px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .product-list-item article {
    padding-bottom: 20px;
    border-bottom: 1px solid #727272;
    margin-bottom: 10px;
  }
}

.product-list-item article .h3 {
  font-size: 20px;
}

.product-list-item article p {
  padding-bottom: 15px;
}

.list-items {
  padding-left: 0;
}

.list-items li {
  padding-bottom: 5px;
}

.list-items li:before {
  content: "\f046";
  font-size: 17px;
  color: #0094D2;
  font-family: 'icomoon' !important;
  padding-right: 10px;
  position: relative;
  top: 2px;
}

.address {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  padding: 15px 15px 5px 15px;
  margin-bottom: 15px;
}

.address .icomoon {
  font-size: 20px;
  color: #0094D2;
}

.address .table td {
  border: none;
  padding: 10px;
}

.address .h5 {
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 10px;
}

.form .form-control {
  height: 43px;
  border-radius: 0;
}

.form label {
  padding-bottom: 2px;
  margin-bottom: 0;
}

.form ::-webkit-input-placeholder {
  font-size: 13px;
}

.form :-ms-input-placeholder {
  font-size: 13px;
}

.form ::-ms-input-placeholder {
  font-size: 13px;
}

.form ::placeholder {
  font-size: 13px;
}

.cust-btn {
  background: #0094D2;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .m-w-100 {
    width: 100%;
  }
  .mob-top-border {
    border-top: 1px solid #0094D2;
  }
  .tab_wrapper .content_wrapper .accordian_header .arrow:before {
    content: "\f0d7";
    font-family: 'icomoon' !important;
  }
  .tab_wrapper .content_wrapper .tab_content {
    padding: 10px !important;
  }
  .tab_wrapper.right_side .content_wrapper {
    border-left: 0 !important;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .rotatebox {
    padding-top: 50px;
  }
}

.rotatebox [type=radio] {
  display: none;
}

.rotatebox .arrows {
  position: absolute;
  top: 75%;
  width: 78%;
  left: 50%;
  margin-left: -28%;
  z-index: 99;
  opacity: 0.2;
}

.rotatebox .arrows .icomoon {
  font-size: 30px;
  color: #fff;
}

.rotatebox .arrows .leftarrow {
  position: absolute;
  left: -57px;
}

.rotatebox .arrows .rightarrow {
  position: absolute;
  right: 22%;
}

.rotatebox #slider {
  height: 400px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rotatebox #slider {
    width: 90%;
    margin: 0 auto;
  }
}

.rotatebox #slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rotatebox #slider label {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .rotatebox #slider label {
    width: 85%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .rotatebox #slider label {
    width: 85%;
  }
}

.rotatebox #s1:checked ~ #slide4,
.rotatebox #s2:checked ~ #slide5,
.rotatebox #s3:checked ~ #slide1,
.rotatebox #s4:checked ~ #slide2,
.rotatebox #s5:checked ~ #slide3 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(-22%, 0, -200px);
          transform: translate3d(-22%, 0, -200px);
}

.rotatebox #s1:checked ~ #slide5,
.rotatebox #s2:checked ~ #slide1,
.rotatebox #s3:checked ~ #slide2,
.rotatebox #s4:checked ~ #slide3,
.rotatebox #s5:checked ~ #slide4 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-15%, 0, -100px);
          transform: translate3d(-15%, 0, -100px);
}

.rotatebox #s1:checked ~ #slide1,
.rotatebox #s2:checked ~ #slide2,
.rotatebox #s3:checked ~ #slide3,
.rotatebox #s4:checked ~ #slide4,
.rotatebox #s5:checked ~ #slide5 {
  -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.rotatebox #s1:checked ~ #slide2,
.rotatebox #s2:checked ~ #slide3,
.rotatebox #s3:checked ~ #slide4,
.rotatebox #s4:checked ~ #slide5,
.rotatebox #s5:checked ~ #slide1 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(15%, 0, -100px);
          transform: translate3d(15%, 0, -100px);
}

.rotatebox #s1:checked ~ #slide3,
.rotatebox #s2:checked ~ #slide4,
.rotatebox #s3:checked ~ #slide5,
.rotatebox #s4:checked ~ #slide1,
.rotatebox #s5:checked ~ #slide2 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(22%, 0, -200px);
          transform: translate3d(22%, 0, -200px);
}

.rotatebox #slide1 {
  background: #0094D2;
}

.rotatebox #slide2 {
  background: #4CAF50;
}

.rotatebox #slide3 {
  background: #0094D2;
}

.rotatebox #slide4 {
  background: #FFC107;
}

.rotatebox #slide5 {
  background: #0094D2;
}

.cube-div {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 400px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .cube-div {
    width: 100%;
  }
  .cube-div article {
    padding: 0 10%;
  }
}

.cube-div .icomoon {
  font-size: 60px;
  color: #fff;
}

@media (min-width: 576px) and (max-width: 767px) {
  .minus-right {
    margin-right: 0;
  }
  .teampic {
    width: 60%;
  }
}

.teampic {
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .teampic {
    border-radius: 0;
  }
}

.icon-nav img {
  width: 150px;
}

.step-col-minusleft {
  margin-left: -80px;
}

.htab .content_wrapper {
  width: 100% !important;
  border-left: 0 !important;
}

.htab .content_wrapper .tab_content {
  padding: 15px 10px !important;
}

.htab ul.tab_list {
  padding-left: 0;
  background: #f2f2f2;
}

.htab ul.tab_list .nav-link {
  color: #000;
}

@media (min-width: 320px) and (max-width: 575px) {
  .htab ul.tab_list .nav-item {
    width: 100%;
  }
}

.htab ul.tab_list .active {
  background: #0094D2;
  color: #fff;
  border-radius: 0;
}

.graytxt {
  background: #727272;
  color: #fff;
  padding: 8px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .vcol {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .vcol {
    padding-bottom: 20px;
  }
}

.vcol .icon {
  width: 150px;
  height: 150px;
  background: #0094D2;
  text-align: center;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  line-height: 170px;
  margin: 0 auto;
}

.vcol .icon .icomoon {
  font-size: 60px;
  color: #fff;
}

.custom-table {
  font-size: 14px;
}

.custom-table .icomoon {
  font-size: 30px;
}

.custom-table tfoot td {
  background: #0072A2;
  color: #fff;
}

.custom-table .iconrow td, .custom-table .iconrow th {
  text-align: center;
}

.tdaquablue {
  background: #4ce5c6;
  color: #fff;
}

.tdgreen {
  background: #93cd54;
  color: #fff;
}

.tdblue {
  background: #0094D2;
  color: #fff;
}

.blog-col {
  margin-bottom: 20px;
}

.blog-col:hover .h5 a {
  color: #0094D2;
}

.blog-col img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-col article {
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 5px 3px #b2b2b2;
          box-shadow: 0 5px 3px #b2b2b2;
  padding: 20px;
}

.blog-col article .h5 a {
  color: #000;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 768px) and (max-width: 991px) {
  .related-blogs .blog-col {
    width: 50%;
  }
}

.related-blogs .blog-col .h6 a {
  color: #000;
}

@media (min-width: 768px) and (max-width: 991px) {
  .related-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */