//imports
@import 'variables';
@import 'mixins';

//font

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body {
    background-color: $lightgray;
    @include sitefont;

    .flight {
        font-weight: $flight;
    }

    .fsbold {
        font-weight: $fsbold;
    }

    .fnormal {
        font-weight: $fregular;
    }

    .fbold {
        font-weight: $fbold;
    }

    .whitebox {
        background: $white;
    }

    .py20 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .px20 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .py10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .px10 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .idlink {
        background: $blue;
        height: 35px;
        padding: 0 20px 0 20px;
        border-radius: 20px;
        color: $white;
        text-transform: uppercase;
        display: inline-block;
        line-height: 36px;
        font-size: $fsize - 1;

        .icomoon {
            @include transition;
            position: relative;
            left: 0;
            font-size: $fsize - 3;
        }

        &:hover {
            background: $darkblue;

            .icomoon {
                left: 5px;
            }
        }
    }

    * {
        text-decoration: none;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .blueborder {
        border: 10px solid $blue;
    }

    .whiteborder {
        border: 10px solid $white;
    }

    .small,
    small {
        font-size: $fsize - 2;
    }

    .fgray {
        color: $gray;
    }

    .fblue {
        color: $blue;
    }

    .fwhite {
        color: $white;
    }

    p {
        padding-bottom: 0;
        margin: 0;
    }

    li,
    ul {
        list-style: none;
    }

    .fred {
        color: red;
    }
}

.h5 {
    line-height: $fsize + 15;
}

.h6 {
    line-height: $fsize * 2;
}

.tab_wrapper {
    .nav-tabs {
        .nav-link.active {
            border: none;
        }
    }

    .tab-content {
        padding: 15px;
    }
}

//header styles 

.fixed-top {
    .navbar {
        padding: 0;

        .dropdown-menu {
            top: 43px;
        }
    }
}

header {
    @include shadow-bottom;
    background: $white;
    @include transition;

    .navbar {
        padding: 10px 0;

        .dropdown-menu {
            border-radius: 0;
            top: 53px;
            border: none;
            @include shadow-bottom;

            .dropdown-item {
                padding: 8px 15px;
                font-size: $fsize;

                &:hover {
                    background: $blue;
                    color: $white;
                }
            }
        }
    }

    .nav-link {
        color: $black !important;
        opacity: 1;
        font-size: $fsize;
        position: relative;
        padding:.5rem .8rem!important;
        @extend .fsbold;

        &:before {
            content: '';
            width: 25px;
            height: 2px;
            background: $blue;
            position: absolute;
            left: 50%;
            margin-left: -120px;
            opacity: 0;
            @include transition;

            @include mob {
                display: none;
            }

            @include moblscape {
                display: none;
            }

            @include tab {
                display: none;
            }
        }

        &:hover {
            color: $blue !important;

            &:before {
                opacity: 1;
                margin-left: -12px;
            }
        }
    }

    .select-nav {
        color: $blue !important;
        padding:.5rem .8rem!important;
        display:inline-block;
        position:relative;

        &:before {
            opacity: 1;
            margin-left: -12px;
            content: '';
            width: 25px;
            height: 2px;
            background: $blue;
            position: absolute;
            left: 50%;

            @include mob {
                display: none;
            }

            @include tab {
                display: none;
            }
        }
    }

    .dropdown-active{
        padding: 8px 15px;
        background: $blue;
        color: $white;
        display:block;
        white-space:nowrap;
    }

    .navbar-brand {
        img {
            width: 220px;
        }
    }
}

main {
    min-height: 500px;
}

//home slider 
.home-slider {
    background: url(../img/slidermap.png)no-repeat center center;
    padding: 40px 0;
    position: relative;

    @include mob {
        min-height: 560px;
    }

    @include mob {
        padding: 10px 0;
    }

    &:before {
        content: '';
        width: 220px;
        height: 100%;
        position: absolute;
        left: -120px;
        top: 0;
        bottom: 0;
        background: $blue;
        transform: skew(-10deg);

        @include mob {
            display: none;
        }

        @include moblscape {
            display: none;
        }

        @include tab {
            display: none;
        }

        @include lap{
            left:-140px;
        }


    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 40px;
        height: 40px;
        top: 90%;
        background: $white;
        opacity: 1;
        border-radius: 50%;
        @include shadow-bottom;
        @include transition;

        &:hover {
            background: $blue;

            .icomoon {
                color: $white;
            }
        }

        .icomoon {
            color: $black;
        }
    }

    .carousel-control-prev {
        left: 6%;
    }

    .carousel-control-next {
        left: 10%;

        @include mob {
            left: inherit;
            right: 9%;
        }

        @include moblscape {
            left: 14%;
        }

        @include tab {
            left: 14%;
        }
    }

    article {
        padding: 20px;

        @include tab {
            padding: 20px 20px 40px 20px;
        }

        @include mob {
            min-height: 250px;
            text-align: center;
            padding: 5px;
        }

        h2 {
            font-size: $fsize * 2 + 10;
            text-transform: uppercase;
            @extend .flight;
            letter-spacing: -2px;

            @include mob {
                font-size: $fsize + 7;
                letter-spacing: 0;
            }

            @include tab {
                font-size: $fsize * 2;
                letter-spacing: 0;
                margin-bottom: 0;
            }

            @include moblscape {
                font-size: $fsize + 7;
                letter-spacing: 0;
            }

            span {
                @extend .fbold;
                color: $blue;
            }
        }

        .h6 {
            line-height: $fsize + 10;
        }

        p {
            font-size: $fsize + 2;
            line-height: $fsize * 2;
            padding: 5px 0;
            text-align: justify;

            @include mob {
                font-size: $fsize - 1;
                line-height: $fsize + 10;
            }

            @include moblscape {
                font-size: $fsize - 1;
                line-height: $fsize + 8;
            }

            @include tab {
                font-size: $fsize;
                line-height: $fsize + 8;
            }
        }
    }
}

//home slider ends 

//home about 
.welcome-section {
    @extend .whitebox;
    @include shadow-bottom;
    padding: 25px 0;

    p {
        text-align: justify;
    }

    @include tab {
        min-height: 200px;
        padding: 15px 0;
    }



    .img-about-second {
        @extend .whiteborder;
        width: 85%;
        position: relative;
        bottom: -20px;
        left: -200px;
        @include shadow-center;

        @include tab {
            display: none;
        }
    }

    .section-title {
        padding-top: 40px;

        @include tab {
            padding-top: 0;
        }

        @include mob {
            padding-top: 20px;
        }
    }
}

//home about ends 

.section-title {
    .small {
        @extend .fbold;
        color: $blue;
    }

    .h2 {
        font-size: $fsize + 13;
        color: $black;
        @extend .fbold;

        @include mob {
            font-size: $fsize + 8;
        }
    }

    .h3 {
        font-size: $fsize + 5;
        color: $black;
        @extend .fbold;
        text-transform: uppercase;
    }
}

.service-main {
    background: $blue;
    min-height: 150px;
    margin-top: 25px;

    .border-right {
        border-right: 1px solid $white;

        @include mob {
            border: none;
        }

        @include moblscape {
            border: none !important;
        }

        @include tab {
            border-right: none !important;
        }
    }

    .service-col {
        padding: 50px 15px;
        @include transition;
        text-align: center;

        @include mob {
            padding: 15px;
            border-bottom: 1px solid $white;
        }

        @include tab {
            padding: 15px;
        }

        .icomoon-col {
            font-size: $fsize * 3;
            @include transition;
            color: $white;

            &:hover {
                color: $darkblue;
            }
        }

        h4 {
            font-size: $fsize + 1;
            color: $white;
            padding: 15px 0;
            text-transform: uppercase;
            @extend .fbold;
            margin: 0;
        }

        p {
            font-size: $fsize - 1;
            padding-bottom: 20px;
            color: $white;
        }

        .idlink {
            background: $darkblue;
        }
    }
}

.our-products {
    @include shadow-bottom;

    .section-title {
        border-right: 1px solid $gray;
    }

    .products-row {
        @extend .py20;

        .product-col {
            position: relative;
            margin-bottom: 15px;

            article {
                background: rgba(0, 0, 0, 0.6);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px 0;
                text-align: center;
                @include transition;
                height: 35px;

                h5 {
                    text-transform: uppercase;
                    color: $white;
                    font-size: $fsize - 1;
                    margin: 0;
                    @extend .fbold;

                    @include moblscape {
                        font-size: $fsize - 3;
                    }
                }

                p {
                    font-size: $fsize - 2;
                    color: $white;
                    line-height: 18px;
                    padding: 10px 0;
                    display: none;
                }
            }

            &:hover {
                article {
                    background: rgba(0, 148, 210, 0.9);
                    height: 100%;
                    padding-top: 20%;

                    p {
                        display: block;
                    }
                }
            }
        }
    }
}

.partners {
    @extend .whitebox;
    @extend .py20;
    @include shadow-bottom;

    .section-title {
        @extend .py20;
    }

    .partners-logos {
        @extend .px20;
        flex-wrap: wrap;

        img {
            width: 180px;
            margin: 0 10px;
            padding: 6px;
            @include shadow-center;
            margin-bottom: 15px;

            @include mob {
                width: 130px;
            }
        }
    }
}

footer {
    background: $blue;

    .top-footer {
        border-bottom: 1px solid $white;
        @extend .py20;

        .brand-footer {
            width: 225px;
        }

        .nav-link {
            color: $white;
            text-transform: uppercase;
            @extend .fsbold;
            font-size: $fsize - 2;

            &:hover {
                text-decoration: underline;
            }
        }

        .social-links {
            padding: 15px 0;

            a {
                width: 50px;
                height: 50PX;
                background: $darkblue;
                border-radius: 50%;
                display: inline-block;
                line-height: 56px;
                text-align: center;
                margin: 0 5px;
                @include transition;
                border: 1px solid $darkblue;

                .icomoon {
                    font-size: $fsize + 10;
                    color: $white;
                }

                &:hover {
                    background: $blue;
                    border: 1px solid $darkblue;
                }
            }
        }
    }

    .bottom-footer {
        p {
            color: $white;
        }
    }
}

//sub page 
.sub-page {

    p {
        text-align: justify;
    }

    //sub pae header 
    .subpage-header {
        padding: 25px 0;
        background: $blue;
        color: $white;

        @include tab {
            padding: 15px 0;
        }

        h1 {
            font-size: $fsize + 10;
            @extend .fbold;
        }

        p {
            @include mob {
                text-align: left;
            }
        }

        .brcrumb {
            margin-bottom: 0;

            @include mob {
                padding-left: 0;
                padding-top: 15px;
                margin-left: -18px;
            }

            @include tab {
                padding-left: 0;
                padding-top: 15px;
                margin-left: -18px;
            }

            li {
                display: inline-block;

                &:first-child {
                    a {
                        &:before {
                            content: '';
                        }
                    }
                }

                a {
                    font-size: $fsize;
                    color: $white;

                    &:before {
                        content: "\f111";
                        font-family: 'icomoon' !important;
                        font-size: 8px;
                        padding: 0 10px;
                    }
                }
            }

            .active a {
                color: darken($darkblue, 25%);
            }
        }
    }

    //sub page header ends

    //subh page body 
    .subpage-body {
        padding: 25px 0;

        .section-title {
            font-size: $fsize + 10;
            color: $black;
            @extend .fbold;
            padding-bottom: 10px;
        }

        .shadow-box {
            @extend .whitebox;
            @include shadow-center;
            padding: 25px;
        }

        p {
            padding-bottom: 15px;
        }
    }

    //sub page body ends 
}

.whatvdo {
    position: relative;
    z-index: 99;
}

.minus-col {
    margin-top: -200px;
    position: relative;

    @include mob {
        margin-top: 0;
    }
    @include tab {
        margin-top: -100px;
    }
}

.minus-right {
    margin-right: -150px;
    position: relative;
    z-index: 2;

    @include mob {
        margin-right: 0;
    }

    @include tab {
        margin-right: 0;
    }
}


.minus-left {
    margin-left: 150px;
    position: relative;
    z-index: 2;

    @include mob {
        margin-left: 0;
    }

    @include tab {
        margin-left: 0;
    }
}

.round-box {
    @extend .shadow-box;
    border-radius: 50%;
    text-align: center;
    width: 280px;
    height: 280px;
    margin: 0 auto;

    article {
        padding: 0 5%;
    }

    @include mob {
        width: auto;
        height: auto;
        border-radius: 0;
    }
}

.blue-round-box {
    @extend .shadow-box;
    background: $blue !important;
    width: 450px;
    height: 450px;
    color: $white;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;

    article {
        padding: 0 15%;
        color: $white;

        @include mob {
            padding: 0;
        }

        .section-title {
            color: $white !important;
        }
    }

    @include mob {
        width: auto;
        height: auto;
        border-radius: 0;
        padding: 5px;
    }
}

.rtcol-circle {
    margin-left: -115px;
    position: relative;
    z-index: 2;
    margin-top: 125px;

    @include mob {
        margin: 0;
    }
}

.ltcol-circle {
    margin-right: -85px;
    position: relative;
    z-index: 2;
    margin-top: 125px;

    @include mob {
        margin: 0;
    }

}


@include mob {
    .navbar-toggler {
        background: $blue;

        .icomoon {
            color: $white;
        }
    }
}

.team-row {
    @extend .whitebox;
    @include shadow-center;
    min-height: 150px;

    article {
        .h6 {
            font-size: $fsize + 7;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        @include mob {
            padding: 10px;
        }
    }

    .nav {
        .nav-item {
            &:first-child {
                .nav-link {
                    padding-left: 0;
                }
            }

            .nav-link {
                padding: 0 4px;

                img {
                    width: 42px;
                }
            }
        }
    }
}

.product-list-item {

    article {
        @include mob {
            padding-bottom: 20px;
            border-bottom: 1px solid $gray;
            margin-bottom: 10px;
        }

        .h3 {
            font-size: $fsize + 5;
            @extend .fbold;
        }

        p {
            padding-bottom: 15px;
        }
    }
}

.list-items {
    padding-left: 0;

    li {
        padding-bottom: 5px;

        &:before {
            content: "\f046";
            font-size: $fsize + 2;
            color: $blue;
            font-family: 'icomoon' !important;
            padding-right: 10px;
            position: relative;
            top: 2px;
        }
    }
}

.address {

    @extend .whitebox;
    @include shadow-bottom;
    padding: 15px 15px 5px 15px;

    margin-bottom: 15px;

    .icomoon {
        font-size: $fsize + 5;
        color: $blue;
    }

    .table {
        td {
            border: none;
            padding: 10px;
        }
    }

    .h5 {
        border-bottom: 1px solid lighten($gray, 30%);
        padding-bottom: 10px;
    }
}

.form {
    .form-control {
        height: 43px;
        border-radius: 0;
    }

    label {
        padding-bottom: 2px;
        margin-bottom: 0;
    }

    ::placeholder {
        font-size: $fsize - 2;
    }
}

.cust-btn {
    background: $blue;
    color: $white;
}


@include mob {

    .m-w-100 {
        width: 100%;
    }

    .mob-top-border {
        border-top: 1px solid $blue;
    }

    .tab_wrapper .content_wrapper .accordian_header .arrow {
        &:before {
            content: "\f0d7";
            font-family: 'icomoon' !important;
        }
    }

    .tab_wrapper .content_wrapper .tab_content {
        padding: 10px !important;
    }

    .tab_wrapper.right_side .content_wrapper {
        border-left: 0 !important;
    }
}

.rotatebox {

    @include mob {
        padding-top: 50px;
    }

    [type=radio] {
        display: none;
    }

    .arrows {
        position: absolute;
        top: 75%;
        width: 78%;
        left: 50%;
        margin-left: -28%;
        z-index: 99;
        opacity: 0.2;

        .icomoon {
            font-size: $fsize * 2;
            color: $white;
        }

        .leftarrow {
            position: absolute;
            left: -57px;
        }

        .rightarrow {
            position: absolute;
            right: 22%;
        }
    }

    #slider {
        height: 400px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;

        @include mob {
            width: 90%;
            margin: 0 auto;
        }


    }

    #slider label {
        margin: auto;
        width: 60%;
        height: 100%;
        border-radius: 4px;
        position: absolute;
        left: 0;
        right: 0;
        cursor: pointer;
        transition: transform 0.4s ease;

        @include mob {
            width: 100%;
        }

        @include tab {
            width: 85%;
        }

        @include moblscape {
            width: 85%;
        }
    }

    #s1:checked~#slide4,
    #s2:checked~#slide5,
    #s3:checked~#slide1,
    #s4:checked~#slide2,
    #s5:checked~#slide3 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
        transform: translate3d(-22%, 0, -200px);
    }

    #s1:checked~#slide5,
    #s2:checked~#slide1,
    #s3:checked~#slide2,
    #s4:checked~#slide3,
    #s5:checked~#slide4 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
        transform: translate3d(-15%, 0, -100px);
    }

    #s1:checked~#slide1,
    #s2:checked~#slide2,
    #s3:checked~#slide3,
    #s4:checked~#slide4,
    #s5:checked~#slide5 {
        box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
        transform: translate3d(0, 0, 0);
    }

    #s1:checked~#slide2,
    #s2:checked~#slide3,
    #s3:checked~#slide4,
    #s4:checked~#slide5,
    #s5:checked~#slide1 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
        transform: translate3d(15%, 0, -100px);
    }

    #s1:checked~#slide3,
    #s2:checked~#slide4,
    #s3:checked~#slide5,
    #s4:checked~#slide1,
    #s5:checked~#slide2 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
        transform: translate3d(22%, 0, -200px);
    }

    #slide1 {
        background: $blue;
    }

    #slide2 {
        background: #4CAF50
    }

    #slide3 {
        background: $blue;
    }

    #slide4 {
        background: #FFC107
    }

    #slide5 {
        background: $blue;
    }
}

.cube-div {
    width: 400px;
    display: flex;
    text-align: center;
    color: $white;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 400px;

    @include mob {
        width: 100%;

        article {
            padding: 0 10%;
        }
    }

    .icomoon {
        font-size: $fsize * 4;
        color: $white;
    }
}

@include moblscape {
    .minus-right {
        margin-right: 0;
    }

    .teampic {
        width: 60%;
    }
}

.teampic {
    border-radius: 10px;

    @include mob{
        border-radius:0;
    }
}

.icon-nav {
    img {
        width: 150px;
    }
}

.step-col-minusleft {
    margin-left: -80px;
}

.htab {
    .content_wrapper {
        width: 100% !important;
        border-left: 0 !important;

        .tab_content {
            padding: 15px 10px !important;
        }
    }

    ul.tab_list {
        padding-left: 0;
        background: lighten($gray, 50%);

        .nav-link {
            color: $black;
        }

        .nav-item {
            @include mob {
                width: 100%;
            }
        }

        .active {
            background: $blue;
            color: $white;
            border-radius: 0;
        }
    }
}

.graytxt{
    background:$gray;
    color:$white;
    padding:8px;
}

.vcol{
    @include mob{
        padding-bottom:20px;
    }
    @include tab{
        padding-bottom:20px;
    }
    .icon{
        width:150px;
        height:150px;
        background:$blue;
        text-align:center;
        border-top-left-radius:50%;
        border-bottom-left-radius:50%;
        border-bottom-right-radius:50%;
        line-height:170px;
        margin:0 auto;

        .icomoon{
            font-size:$fsize * 4;
            color:$white;            
        }
    }
}

.custom-table{
    font-size:$fsize - 1;

    .icomoon{
        font-size:$fsize * 2;       
    }
    tfoot{
        td{
            background:$darkblue;
            color:$white;
        }
    }
    .iconrow{
        td, th{
            text-align:center;
        }
    }
}

.tdaquablue{
    background:$tdaquablue;
    color:$white;
}
.tdgreen{
    background:$green;
    color:$white;
}
.tdblue{
    background:$blue;
    color:$white;
}

.blog-col{
    margin-bottom:20px;

    &:hover{
        .h5{
            a{
                color:$blue;
            }
        }
    }
    img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    article{
        background:$white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 5px 3px #b2b2b2;
        padding:20px;

        .h5{
            a{
                color:$black;
                @include transition;
            }
        }
    }
}

.related-blogs{
    .blog-col{
        @include tab{
            width:50%;
        }
        .h6{
            a{
                color:$black;
            }
        }
    }
}

.related-in{
    @include tab{
        display:flex;
    }
}